<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--  <test name="OneOnOneMeetingTest">-->
<!--    <classes>-->
<!--      <class name="oneononemeetingtest.createmeetingtest.OneOnActivityTest"/>-->
<!--      <class name="oneononemeetingtest.createmeetingtest.CreateMeetingTest"/>-->
<!--      <class name="oneononemeetingtest.createmeetingtest.CreateMeetingRecurringTest"/>-->
<!--      <class name="oneononemeetingtest.createmeetingtest.TabNavigationTest">-->
<!--       &lt;!&ndash; <methods>-->
<!--          <include name="testScorecareTabNavigation"/>-->
<!--          <include name="testTasksTabNavigation"/>-->
<!--          <include name="testTaskSourceDropdown"/>-->
<!--        </methods>&ndash;&gt;-->
<!--      </class>-->
<!--      <class name="oneononemeetingtest.createmeetingtest.OneOnScorecardTest"/>-->
<!--    </classes>-->
<!--  </test> &lt;!&ndash; Test &ndash;&gt;-->

  <test name="SocialFeedTest">
    <classes>
      <class name="socialfeedtest.CreateShoutoutTest"/>
      <class name="socialfeedtest.ShoutoutFilterTest"/>
      <class name="socialfeedtest.ShoutoutActionsTest"/>
      <class name="socialfeedtest.ShoutoutPointCheck"/>
      <class name="socialfeedtest.ShoutoutVerifyCheckTest">

      </class>
      </classes>

  </test>
</suite> <!-- Suite -->


